{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <h1>Register</h1>

        {{ include('user/registration/form.html.twig') }}

    </div>


{% endblock %}
