{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">

        <p>
            <a href="">
                Login
            </a>
        </p>
        <p>
            <a href="">
                Register
            </a>
        </p>

    </div>

{% endblock %}
